<tr>
  <td><%= log.baby.name %></td>
  <td><%= log.assistant.name %></td>
  <td><%=log.activity.name %></td>
  <td><%=log.start_time.in_time_zone("Mexico City").strftime('%Y-%m-%d %H:%M') %></td>
  <td><%="#{log.duration.to_i} min" %></td>
</tr>